[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"
pytest = "*"
factory-boy = "*"
pytz = "*"
ipdb = "*"

[packages]
django = "*"
django-extensions = "*"
restless = "*"
pytest-django = "*"

[requires]
python_version = "3.7"
