[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
pytest-django = "*"
pytest = "*"
factory-boy = "*"

[requires]
python_version = "3.6"
