[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"
pytest = "*"

[packages]
django = "*"
django-extensions = "*"
restless = "*"

[requires]
python_version = "3.7"
